:root {
    --gray: #929191;
    --sectionsColor: #2d2d31;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: #000000;
    color: white;
    max-width: 100%;
}